root = true

[*]
indent_style = space
indent_size = 4
charset = utf-8

# lua
[*.lua]
indent_size = 4
trim_trailing_space = true

# html, etlua in views/
[views/*.{html,etlua}]
indent_size = 2
insert_final_newline = true
